BYTEZ_API_KEY=

TRADINGAGENTS_LLM_PROVIDER=bytez
TRADINGAGENTS_DEEP_THINK_LLM=zai-org/GLM-4.7
TRADINGAGENTS_QUICK_THINK_LLM=zai-org/GLM-4.7

TRADINGAGENTS_MAX_DEBATE_ROUNDS=2
TRADINGAGENTS_MAX_RISK_ROUNDS=2

TRADINGAGENTS_CHECKPOINT_ENABLED=true
TRADINGAGENTS_OUTPUT_LANGUAGE=English
